<launch>
  <!-- Define general parameters.  These can be overwritten by the
       roslaunch command line. -->
  <arg name="cfg"   default="$(find arm_game)/rviz/viewkuka.rviz"/>


  <!-- Load the URDF file into the robot_description parameter. -->
  <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find arm_game)/urdf/iiwa7_9dof.urdf.xacro'
      robot_name:=iiwa7" />

  <!-- Start a GUI with sliders to command the joints.  -->
  <node pkg ="joint_state_publisher_gui"
	type="joint_state_publisher_gui"
	name="jsp">
  </node>

  <!-- Start any python code.  -->
  <!-- <node pkg ="arm_game"
	type="yummm.py"
	name="yummy"
	output="screen">
  </node> -->


  <!-- Start the ROS kinematic chain processing. -->
  <node pkg ="robot_state_publisher"
	type="robot_state_publisher"
	name="rsp">
    <param name="ignore_timestamp" value="true"/>
  </node>


  <!-- Run the rviz visualization, with viewfourR.rviz config file -->
  <node pkg ="rviz"
	type="rviz"
	name="rviz" args="-d $(arg cfg)"
	output="screen"
	required="true"/>

</launch>
